/* CSS Variables */
:root {
  --background-color: #060047;
  --main-color: #B3005E;
  --secondary-color: #E90064;
  --accent-color: #FF5F9E;
}

/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  padding: 10%;
  background: var(--background-color) url('https://img.freepik.com/photos-premium/lumiere-abstraite-ultraviolette-arriere-plan-couleurs-neon-ai_564714-1999.jpg?size=626&ext=jpg&uid=R111587717&semt=ais') no-repeat center/cover;
}

/* Container for the glass effect */
.glass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.05); /* Semi-transparent background */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 25px;
}

/* Container for the todo app */
.app-container {
  max-width: 75%;
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 50%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #f9f9f9; /* Use white color for better contrast */
}

/* Todo input and buttons styles */
input[type="text"] {
  display: block;
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  padding: 8px 12px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button.add-button {
  background-color: var(--accent-color);
  color: #ffffff;
}

button.add-button:hover {
  background-color: #FF8369;
}

button.cancel-button {
  background-color: var(--main-color);
  color: #ffffff;
}

button.cancel-button:hover {
  background-color: #113c59;
}

button.save-button {
  background-color: var(--secondary-color);
  color: #ffffff;
}

button.save-button:hover {
  background-color: #EE6F57;
}

/* Todo list styles */
ul {
  list-style-type: none;
  padding: 0;
  color: #F6F5F5;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

li input[type="text"] {
  flex: 1;
  font-size: 16px;
}

li button {
  padding: 4px 8px;
  margin-left: 5px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

button.edit-button {
  background-color: var(--secondary-color);
  color: #ffffff;
}

button.edit-button:hover {
  background-color: #1976d2;
}

button.remove-button {
  background-color: var(--accent-color);
  color: #ffffff;
}

button.remove-button:hover {
  background-color: #d32f2f;
}

/* Style for the input when editing a todo */
.editing-input {
  width: 100%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
